
{#
/**
 * @file
 * Default theme implementation for an 'input__textfield' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 * - icon: An icon.
 * - input_group: Flag to display as an input group.
 * - icon_position: Where an icon should be displayed.
 * - prefix: Markup to display before the input element.
 * - suffix: Markup to display after the input element.
 * - type: The type of input.
 *
 * @ingroup templates
 *
 * @see \Drupal\bootstrap\Plugin\Preprocess\Input
 * @see template_preprocess_input()
 */
#}
{% spaceless %}
  {%
    set classes = [
      'form-control',
    ]
  %}
  {% block input %}
  <div class="input-group bpm-input-group">
    <span class="input-group-btn">
      <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="{{ attributes.id }}">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </button>        
    </span>
    <input{{ attributes.addClass(classes) }} />  
    <span class="input-group-btn">
      <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="{{ attributes.id }}">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </span>
  </div>
  {% endblock %}
{% endspaceless %}
